ModeModal {
  align: center middle;

  & > Vertical {
    height: auto;
    max-width: 20;
    border: round white 50%;

    & Label {
      align: center middle;
      content-align: center middle;
    }

    & Button {
      width: 100%;
      margin: 1;
    }
  }
}
